type,property,value1,value2
# Constants
# DO NOT CHANGE TO MAPPED!
create,color,"#2E8B57",NA
sync,color,"#FF7F50",NA
continuation,color,"#000000",NA
scope,color,"#000000",NA
# Mapped
# Mapped can be changed to constant
# Valid mapping types are direct, linear, linear-step
common,weight,"[exec_cycles]","direct"

